<div id="<%= dom_id dataset %>">
  <p>
    <strong>Название:</strong>
    <%= dataset.name %>
  </p>

  <p>
    <strong>Качество:</strong>
    <%= dataset.quality_status %>
  </p>
 
  <p>
    <strong>Статус:</strong>
    <%= dataset.status %>
  </p>
 <p>
    <strong>Владелец:</strong>
    <%= dataset.owner %>
</p>
</div>
